<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration> 
 
 <typeAliases>
 </typeAliases>
 
 <mappers>
  <!--<mapper resource="com/sys/mapper/SysMenuMapper.xml"/>
  <mapper resource="com/sys/mapper/SysUserMapper.xml"/>
  <mapper resource="com/sys/mapper/SysRoleMapper.xml"/>
  <mapper resource="com/sys/mapper/SysRoleRelMapper.xml"/> 
  <mapper resource="com/sys/mapper/SysMenuBtnMapper.xml"/>
  <mapper resource="com/fogworn/mapper/TbDevMapper.xml"/>-->
 </mappers>
</configuration>
